@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
}

.main-menu {
  background-color: #f6f6f6;
}

.header {
  padding: 20px 0;
  height: 30px;
}
.header__img {
  width: 200px;
  display: block;
  margin: auto;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__menu .arrow {
  padding: 10px;
  position: absolute;
  left: 5px;
  top: 17px;
}

.img__menu {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative;
}
.img__index {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}

.link {
  text-decoration: none;
  color: #000;
}
.link__footer {
  text-decoration: none;
  color: #fff;
}

.restaurant {
  padding: 20px;
  background-color: #f6f6f6;
}
.restaurant__box {
  box-shadow: 0px 5px 5px 3px #eaeaea;
  align-content: center;
  border-radius: 25px;
  width: 100%;
  padding: 0;
  margin: 20px 0;
}
.restaurant__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 15px;
  line-height: 8px;
}
.restaurant i {
  font-size: 22px;
  padding-right: 10px;
}
.restaurant i:hover {
  font-weight: bolder;
  background: -webkit-linear-gradient(top, #9356DC 25%, #FF79DA 75%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.restaurant i:active {
  font-weight: bolder;
  background: -webkit-linear-gradient(top, #9356DC 25%, #FF79DA 75%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.card {
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding: 5px 10px 45px 10px;
  position: relative;
  z-index: 1;
  top: -75px;
}
.card__title {
  font-family: "Shrikhand", cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 15px;
  font-size: 20px;
}
.card i:hover {
  font-weight: bolder;
  background: -webkit-linear-gradient(top, #9356DC 25%, #FF79DA 75%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.card h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  border-bottom: solid 3px #99E2D0;
  width: 50px;
  margin-left: 12px;
  line-height: 35px;
}
.cardh3 {
  font-size: 16px;
}
.card article {
  box-shadow: 0px 5px 5px 3px #eaeaea;
  background-color: #fff;
  line-height: 1px;
  border-radius: 25px;
  padding: 5px 20px;
  margin: 30px 5px;
}
.card__price {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.card__price--long {
  font-size: 12px;
}
.card button {
  box-shadow: 0px 5px 9px 3px gray;
  height: 55px;
  padding: 10px;
  border-radius: 25px;
  border: none;
  display: block;
  margin: auto;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #fff;
}

footer {
  font-family: "Roboto", sans-serif;
  background-color: #353535;
  color: #fff;
  padding: 10px 30px;
  line-height: 30px;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 350;
  padding: 20px 5px;
  margin: 0;
}
footer a {
  display: flex;
  align-items: center;
}
footer a i {
  padding-right: 20px;
  width: 12px;
}
footer p {
  margin: 0;
}

.strong {
  font-weight: 600;
}

.index {
  font-family: "Roboto", sans-serif;
}

.form {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  font-size: 18px;
  width: 100%;
  color: #353535;
  padding: 10px 0;
  box-shadow: inset 0px 2px 2px 0px #b6b6b6;
}
.form input {
  font-family: "Roboto", sans-serif;
  border: none;
  background-color: #eaeaea;
  text-align: center;
  font-size: 15px;
  width: 38%;
}
.form i {
  padding-right: 2px;
}

.reservation {
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
  padding-bottom: 25px;
}
.reservation h1 {
  text-align: center;
  padding: 20px 30px;
  font-size: 25px;
  margin: 0;
}
.reservation p {
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  padding-bottom: 10px;
}
.reservation button {
  box-shadow: 0px 5px 9px 3px gray;
  height: 55px;
  padding: 10px;
  border-radius: 25px;
  border: none;
  display: block;
  margin: auto;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #fff;
}

.funct {
  margin: 1em;
}

.list {
  display: flex;
  align-items: center;
}
.list .list__text {
  box-shadow: 0px 5px 5px 3px #eaeaea;
  width: 100%;
  background-color: #f6f6f6;
  padding: 0 20px 0 35px;
  margin: 5px 0 15px 25px;
  align-items: center;
  height: 60px;
  border-radius: 20px;
}
.list .list__text p {
  padding: 0 20px;
}
.list .list__text:hover {
  background-color: #f2eafb;
}
.list .list__text:hover i {
  color: #9356DC;
}
.list__number {
  position: absolute;
  text-align: center;
  background-color: #9356DC;
  color: #fff;
  margin: 3px;
  padding: 6px;
  width: 20px;
  height: 20px;
  border-radius: 25px;
}

/*# sourceMappingURL=style.css.map */
