@mixin font-logo-title{
    font-family: 'Shrikhand', cursive;
}
@mixin font-text {
    font-family: 'Roboto', sans-serif;
}
@mixin list {
    display: flex;
}
@mixin link($color) {
    text-decoration: none;
    color: $color;
}
@mixin img ($img-size) {
    width: 100%;
    height: $img-size;
    object-fit: cover;
}
