@keyframes anim-menu {
    from{
        transform: translateY(200px);
        opacity: 0;
    } 
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(1turn);
    }
}
@keyframes out{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(3);
        opacity: 0;
    }
    100%{
        z-index: -3;
        opacity: 0;
    }
}
