@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* VARIABLES*/
/* MIXIN*/
.header__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }

.form {
  background-color: #99E2D0; }

h1 {
  font-family: 'Shrikhand', cursive; }

h2 {
  font-family: 'Shrikhand', cursive; }

.list {
  display: flex;
  align-items: baseline; }
  .list .list__text {
    align-items: center; }
    .list .list__text p {
      padding: 0 10px; }
  .list .list__number {
    text-align: center;
    background-color: #9356DC;
    margin: 3px;
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50px; }

img {
  width: 150px;
  height: 50px; }
