body{
    margin: 0;
    padding: 0;
    width: auto;
    max-width: 99.9%;
    position: relative;
}
.main-menu{
    background-color: $color-bg-index;
    width: 100%;
    @media(min-width:760px) {
        margin: auto;
        width: 75%;
        min-width: 760px;
    }
    @media(min-width:1024px) {
        margin: auto;
        width: 75%;
        max-width: 1024px;
    }
}
.header{
    padding : 20px 0;
    height: 30px;
    &__img{
        width: 200px;
        display: block;
        margin: auto;
    }
    &__reception{
        display: none;
        @media (min-width:760px) {
            @include font-text;
            @include link($color-font);
            display: block;
            font-weight: 300;
            border-bottom: solid 3px $color-tertiary;
            width: 50px;
            position: absolute;
            left: 30px;
            top: 10px;
            &:hover{
                color: $color-primary;
            }
        }
    }
    &__menu{
        display: flex;
        align-items: center;
        @include box($color-form);
        .arrow{
           padding: 10px;
           position:absolute;
           left: 5px;
           top: 17px;
           @media (min-width: 760px) {
               display: none;
           }
        }
    }
}
.img{
    &__menu{
        @include img($height-img-menu);
        position: relative;  
        object-position: 50% 50%;
        @media (min-width : 426px) {
            height: 500px;
            object-position: 50% 50%;
        }
    }
    &__index{
        @include img($height-img-index);
        border-radius: 25px 25px 0 0 ;
        object-position: 100% 100%;
    }
    &__index2{
        @include img($height-img-index);
        border-radius: 25px 25px 0 0 ;
        object-position: 100% 60%;
        
    }
}
.link{
    @include link($color-font);
    &__footer{
        @include link($color-footer)
    }
}
.restaurant{
    padding : 20px 10px 60px 10px;
    background-color: $color-bg-index;
    scale: 1;
    
    & h2{
        @media (min-width:760px) {
            text-align: center;
        }
    }
    &__bloc{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
       
        & a{
            width: 100%;
            max-width: 350px;
            margin: 10px
        }
    }
    &__box{
        @include box($color-form);
        align-content: center;
        border-radius: 25px ;
        width: 100%;
        padding: 0;
        margin: 20px 0;
        position: relative;
        scale: 1;
        transition: transform 1s;
        &:hover{
            transform: scale(1.05); 
        }
        &__new{
            @include new;
        }
    }
    &__text{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2px 15px;
        line-height: 8px;
    }
    & i{
        font-size: 22px;
        padding-right : 10px;
        opacity: 0.6;
        transition: opacity 1500ms;
        &:hover{
            @include heart;
            opacity: 1;
        }
    }
}
.card{
    @include font-text;
    background-color: $color-bg-index;
    border-radius: 40px 40px 0 0 ;
    padding: 5px 10px 45px 10px;
    position: relative;
    z-index: 1;
    top: -75px;
    &__meal{
        @include box($color-form);
        background-color: $color-footer;
        line-height: 1px;
        height: 70px;
        border-radius: 25px;
        padding: 5px 20px;
        margin: 30px 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        animation: anim-menu $anim-dur both;
        @for $x from 1 through $num-meal {
            &--#{$x} {
                animation-delay: $anim-delay*$x*1.6;
            }
        }
        &:hover .card__inbox{
            width: 70%;
            min-width: 0;
            transition: all 0.5s ease-in-out;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        &:hover .card__box-check{
            width: 60%;
            background-color: $color-tertiary;
            transition: all 0.5s ease-in-out;
            opacity: 1;
        }
        &:hover .card__check{
            align-items: center;
            justify-content: center;
            transform-origin: center;
            animation: rotate 1000ms forwards;
        }
        &:hover .strong{
            width: 40%;
            transition: all 0.5s ease-in-out;
        }
        &:hover .card__price{
            width: 30%;
            min-width: 150px;
            transition: all 0.5s ease-in-out;
        }
    }
        &__check{
        align-items: center;
        justify-content: center;
        color: $color-footer;
    }
    &__title{
        @include font-logo-title;
        @include list;
        align-items: center;
        justify-content: space-between;
        padding: 2px 15px;
        font-size: 18px;
        font-weight: 400;
        & i{
        align-items: center;
        font-size: 25px;
        padding-right: 5px;
        opacity: 0.6;
        transition: opacity 1500ms;
        &:hover{
            @include heart;
            opacity: 1;
        }
        &:focus{
            @include heart;
            opacity: 1;
            outline: none;
        }
    }

 }
    
    &__inbox{
        width: 80%;
        transition: all 0.5s ease-in-out;
        height: 50px;
        padding : -15px;
        & p {
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            line-height: 20px
        }
    }
    & h2{
        @include font-text;
        font-weight: 300;
        font-size: 18px;
        border-bottom: solid 3px $color-tertiary;
        width: 50px;
        margin-left: 12px;
        line-height: 35px;
    }
    & h3{
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin: 3px 0;
        line-height: 20px
    } 
    &__price{
        @include list;
        align-items: center;
        width: 20%;
        min-width: 90px;
        justify-content: center;
        border-radius: 0 25px 25px 0;
        transition: all 0.5s ease-in-out;
        overflow: hidden;
        height: 80px;
        margin: -20px;
        & .card__box-check{
            display: flex;
            opacity: 0;
            width: 0;
            justify-content: center;
            height: 100%;
            align-items: center;
            color: $color-footer;
            font-size: 30px;
            transition: all 0.5s ease-in-out;
            transform-origin: right;
        }
        & .strong{
            font-weight: 600;
            display: flex;
            width: 100%;
            justify-content: flex-end;
            margin: 65px 30px 0 0;
            transition: all 0.5s ease-in-out;
            height: 50px;
            padding: -15px;
        }
    }
    & button{
        @include button;
        scale: 1;
        transition : transform 300ms;
        &:hover{
            @include button-hover;
            transform: scale(1.05)
        }
    }
}
footer{
    @include font-text;
    background-color: $color-bg-footer;
    color: $color-footer;
    padding: 10px 30px; 
    line-height: 30px;
    & h3{
        @include font-logo-title;
        font-weight: 300;
        padding: 20px 5px;
        margin: 0;
    }
    & a {
        @include list;
        align-items: center;
        & i{
            padding-right: 20px;
            width: 12px;
        }
    }
    & p{
        margin: 0;
    }
}
