body{
    margin: 0;
    padding: 0;
    width: auto;
    max-width: 99.9%;
    position: relative;
}
.loading{
    width: 100%;
    height: 100%;
    animation: out 1s 1s ease-in-out forwards;
    background-color: $color-bg-footer;
    position: absolute;
    z-index: 10;
    &__border{
        @include loader;
        top: 12%;
        left: 48%;
        border-top: 4px solid $color-secondary;
        width: 100px;
        height: 100px;
        animation: rotate 1.1s linear infinite ;
        @media (max-width : 480px) {
            left: 30% !important;
        }
        @media (max-width : 768px) {
            left: 40%;
        }
    }
    &__border2{
        @include loader;
        top: 15%;
        left: 43%;
        border-top: 3px solid $color-primary;
        width: 150px;
        height: 150px;
        animation: rotate 1s linear reverse infinite ;
        @media (max-width : 480px) {
            left: 27% !important;
            width: 151px;
            height: 151px;
        }
        @media (max-width : 768px) {
            left: 36%;
        }
    }
    &__border3{
        @include loader;
        top: 15%;
        left: 42%;
        border-top: 5px solid $color-tertiary;
        width: 70px;
        height: 70px;
        animation: rotate 1.2s linear infinite ;
        @media (max-width : 480px) {
            left: 45% !important ;
        }
        @media (max-width : 768px) {
            left : 50%
        }
    }
}
.header{
    padding : 20px 0;
    height: 30px;
    &__img{
        width: 200px;
        display: block;
        margin: auto;
    }
    &__reception{
        display: none;
        @media (min-width:760px) {
            @include font-text;
            @include link($color-font);
            display: block;
            font-weight: 300;
            border-bottom: solid 3px $color-tertiary;
            width: 50px;
            position: absolute;
            left: 30px;
            top: 10px;
            &:hover{
                color: $color-primary;
            }
        }
    }
    &__menu{
        display: flex;
        align-items: center;
        @include box($color-form);
        .arrow{
           padding: 10px;
           position:absolute;
           left: 5px;
           top: 17px;
           @media (min-width: 760px) {
               display: none;
           }
        }
    }
}
.img{
    &__menu{
        @include img($height-img-menu);
        position: relative;  
        object-position: 50% 50%;
        @media (min-width : 426px) {
            height: 500px;
            object-position: 50% 50%;
        }
    }
    &__index{
        @include img($height-img-index);
        border-radius: 25px 25px 0 0 ;
        object-position: 100% 100%;
    }
    &__index2{
        @include img($height-img-index);
        border-radius: 25px 25px 0 0 ;
        object-position: 100% 60%;
    }
}
.link{
    @include link($color-font);
    &__footer{
        @include link($color-footer);
    }
}
.restaurant{
    padding : 20px 10px 60px 10px;
    background-color: $color-bg-index;
    transform: scale(1);
    & h2{
        @media (min-width:760px) {
            text-align: center;
        }
    }
    &__bloc{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
       
        & a{
            width: 100%;
            max-width: 350px;
            margin: 10px
        }
    }
    &__box{
        @include box($color-form);
        align-content: center;
        border-radius: 25px ;
        width: 100%;
        padding: 0;
        margin: 20px 0;
        position: relative;
        transform: scale(1);
        transition: transform 1s;
        &:hover{
            transform: scale(1.05); 
        }
        &__new{
            @include new;
        }
    }
    &__text{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2px 15px;
        line-height: 8px;
    }
    & i{
        font-size: 22px;
        padding-right : 10px;
        opacity: 0.6;
        transition: opacity 1500ms;
        &:hover{
            @include heart;
            opacity: 1;
        }
    }
} 
footer{
    @include font-text;
    background-color: $color-bg-footer;
    color: $color-footer;
    padding: 10px 30px; 
    line-height: 30px;
    & h3{
        @include font-logo-title;
        font-weight: 300;
        padding: 20px 5px;
        margin: 0;
    }
    & a {
        @include list;
        align-items: center;
        & i{
            padding-right: 20px;
            width: 12px;
        }
    }
    & p{
        margin: 0;
    }
}
